$default-font: "opensans", 'Arial', sans-serif
$font2: "sourcesanspro", 'Arial', sans-serif


$orange: #ff5c36

$boxshadow: 0 0 57px rgba(20, 20, 21, 0.2)
$btnshadow: 2px 11px 20px rgba(20, 20, 21, 0.08)
$bordercolor: rgba(0,0,0,.22)

